train/
test/
val/
train_sim/
train_bam/
train_bed/
__pycache__/
results.bed
stats_windows.csv
reference_genome/*.fa.*
.DS_Store
/stats
/real_data
/real_data_target
cnv-detection*
reference_genome/
sim_data/
sim_target/
plots/
.mypy_cache/
*env*
.coverage*
.pytest_cache/
train_target/
reference_genome.pac
tests/test_generate_features/sim_data.bam.bai
/basic_model
